:root{
    --sh:0px 3px 15px rgba(0,0,0,0.2);
    --disabled: rgba(0,0,0,0.4);
}

body{
    display: table;
    width: 417px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    vertical-align: middle;
}

p{
    padding: 10px;
    background-color: rgb(1, 240, 180);
    box-shadow: var(--sh) ;
}

button{
    background: none;
    border: 1px solid rgb(1, 240, 180);
    padding: 5px;
    border-radius: 5px;
    color:rgb(1, 240, 180);
    box-shadow: var(--sh);
}

button:hover{
    color:white;
    background:rgb(1, 240, 180);
}

.updatedDate{
    font-size: smaller;
    color:var(--disabled);
}


/* style for checks */

#map{
    box-shadow: var(--sh);
    height: 180px;
}